*{
    padding: 0;
    margin: 0;
}
html{
    height: 500vh;
}
/*cabeçalho*/
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
}
header ul li {
    display: inline-block;
    justify-items: center;
    margin-left: 50px;
    list-style-type: none;
    margin: 50px 50px;
    font-size: 30px;
    
}

header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
 
}
header img{
    width: 150px;
    margin-left: 50px;
    border-radius: 20px;
    border: 5px #332D21 solid;
}
/*banner*/

.banner{
    height: 100vh;
    background-image: url(img/barbeiro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bem_vindo h1{
    font-size: 6em;
    padding: 100px;
    margin: 100px;
    color: aliceblue;
    margin-bottom: 50px;
    padding-bottom:0 ;
}
.bem_vindo button{
    width: 250px;
    height: 60px;
    border: 0;
    background-color: #332d21d3;
    color: #fff;
    cursor: pointer;
    margin-left: 40%;
    font-size: 20px;
}